* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Scroll */

::-webkit-scrollbar {
	width: 0;
}
#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgb(255, 255, 255), 0.05;
}

#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animacionScroll 5s linear infinite;
}
@keyframes animacionScroll {
	0%,
	100% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(360deg);
	}
}

#progressbar:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
}
#progressbar:after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
}

body {
	background-image: url('../img/FondoSobreNosotros.jpg');
}

.h1-titulo {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
.p-info {
	font-family: cursive;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.7); /* 0.7 es la transparencia */
	color: white;
	text-align: center;
	padding: 30px;
}

.mapa-ubicacion {
	width: 100%;
	height: 570px;
	padding: 0px;
	margin-bottom: 0px;
}
.div-ubicacion {
	padding: 30px;
	background: rgba(0, 0, 0, 0.4);
}

.h1-ubicacion {
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	text-align: center;
	margin-bottom: 30px;
	font-size: 50px;
	color: rgb(0, 0, 0);
	margin-top: 30px;
}

.h1-videos {
	font-family: Arial, Helvetica, sans-serif;
	padding: 40px;
	text-align: center;
	font-size: 50px;
	color: rgb(0, 0, 0);
	margin-bottom: 30px;
	margin-top: 30px;
}

.video-sobre-nosotros {
	background: rgba(0, 0, 0, 0.6);
	padding: 40px;
	margin-bottom: 100px;
}

.mapa-ubicacion {
	width: 100%;
	height: 570px;
	padding: 0px;
	margin-bottom: 0px;
}

.video {
	width: 1190px;
	height: 535px;
	margin-bottom: 200px;
}

.video2 {
	width: 978px;
	height: 550px;
	margin-bottom: 140px;
}

footer {
	background: rgb(16, 20, 20);
	height: auto;
	width: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(200, 197, 201);
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content .footer-h3 {
	font-size: 30px;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 150px;
}

.footer-content .footer-p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 20px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials .footer-li {
	margin: 20px;
}

.socials .footer-a {
	text-decoration: none;
	color: #fff;
}

.socials .footer-a i {
	font-size: 1.1rem;
	transition: color 0.5 ease;
}

.footer-info {
	background: rgb(0, 7, 10);
	width: 100%;
	padding: 20px;
	text-align: center;
}

.footer-info p {
	font-size: 15px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-info span {
	text-transform: uppercase;
	opacity: 0.9;
	font-weight: 200;
}

@media screen and (min-width: 320px) {
	.h1-titulo {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 25px;
	}

	.p-info {
		font-family: cursive;
		font-size: 20px;
		background: rgba(0, 0, 0, 0.7); /* 0.7 es la transparencia */
		color: white;
		text-align: center;
		padding: 30px;
	}

	.mapa-ubicacion {
		width: 100%;
		height: 570px;
		padding: 0px;
		margin-bottom: 0px;
	}

	.div-ubicacion {
		padding: 1 0px;
		background: rgba(0, 0, 0, 0.4);
	}

	.h1-ubicacion {
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px;
		text-align: center;
		margin-bottom: 30px;
		font-size: 25px;
		color: rgb(0, 0, 0);
		margin-top: 30px;
	}

	.h1-videos {
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px;
		text-align: center;
		font-size: 25px;
		color: rgb(0, 0, 0);
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.video-sobre-nosotros {
		background: rgba(0, 0, 0, 0.6);
		padding: 5px;
		margin-bottom: 40px;
	}

	.video {
		margin-top: 100px;
		width: 270px;
		height: 180px;
		margin-bottom: 100px;
	}

	.video2 {
		width: 270px;
		height: 200px;
		margin-bottom: 140px;
	}
}

@media screen and (min-width: 768px) {
	.h1-titulo {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 45px;
	}

	.h1-ubicacion {
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px;
		text-align: center;
		margin-bottom: 30px;
		font-size: 45px;
		color: rgb(0, 0, 0);
		margin-top: 30px;
	}

	.h1-videos {
		font-family: Arial, Helvetica, sans-serif;
		padding: 10px;
		text-align: center;
		font-size: 45px;
		color: rgb(0, 0, 0);
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.video-sobre-nosotros {
		background: rgba(0, 0, 0, 0.6);
		padding: 5px;
		margin-bottom: 40px;
	}

	.video {
		margin-top: 100px;
		width: 630px;
		height: 320px;
		margin-bottom: 100px;
	}

	.video2 {
		width: 630px;
		height: 360px;
		margin-bottom: 140px;
	}
}

@media screen and (min-width: 1024px) {
	.mapa-ubicacion {
		width: 100%;
		height: 570px;
		padding: 0px;
		margin-bottom: 0px;
	}

	.video {
		width: 1190px;
		height: 535px;
		margin-bottom: 200px;
	}

	.video2 {
		width: 978px;
		height: 550px;
		margin-bottom: 140px;
	}
}
